.container-fluid {
  padding: 1% 7%;
}

.navbar{
  padding: 1rem 0 1rem;
}

.navbar-brand{
  font-family : "Montserrat", sans-serif;
  font-weight : 700;
  font-size: 2rem;
  line-height: 2;
}

.navbar-nav{
  padding-left: 625px;
}

.nav-item{
  padding: 0 18px;
}

 .nav-link{
   font-family : "Montserrat", sans-serif;
   font-weight : 400;
   font-size: 1rem;
   line-height: 2;
 }

.content{
  align-self: center;
}
